@model MvcCV.Models.Entity.about
@{
    ViewBag.Title = "abUpdate";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}

<br />
<h2 class="card-header" style="color: white; background-color: gray; text-align: center ">Hakkımda Güncelleme Sayfası</h2>
<br />

<div style="background-color:darkgray; border:outset; color:white ">
    <form method="post">
        <br />
        @Html.HiddenFor(x => x.aboutID)
        @Html.TextBoxFor(x => x.name, new { @class = "form-control" })
        <br />
        @Html.TextBoxFor(x => x.surname, new { @class = "form-control" })
        <br />
        @Html.TextBoxFor(x => x.adres, new { @class = "form-control" })
        <br />
        @Html.TextBoxFor(x => x.mail, new { @class = "form-control" })
        <br />
        @Html.TextBoxFor(x => x.descreption, new { @class = "form-control" })
        <br />
        @Html.TextBoxFor(x => x.imageUrl, new { @class = "form-control" })
        <br />


        <button style="border-radius:12px;" class="btn-outline-dark"> Kaydet </button>
        <br /> <br />
    </form>
</div>


